In [1]:
# Q1

In [2]:
M="SAALIK"

In [3]:
type(M)

str

In [4]:
N=["Saalik" , "PWskills" , "Assignment"]

In [5]:
N

['Saalik', 'PWskills', 'Assignment']

In [6]:
type(N)

list

In [6]:
P=843.4

In [7]:
type(P)

float

In [22]:
my_tuple = (1, 2, 3,"String")
print(my_tuple)

(1, 2, 3, 'String')

In [ ]:
#-----------------------------------------------------------------------------

In [12]:
# Q2

In [13]:
var1=''

In [14]:
type(var1)

str

In [15]:
var2='[DS,Ml,PYTHON]'

In [16]:
type(var2)

str

In [17]:
var3=['DS','ML','Python']

In [19]:
type(var3)

list

In [20]:
var4=1.

In [21]:
type(var4)

float

In [33]:
#----------------------------------------------------------------------------------

In [34]:
# Q3

In [35]:
#1    /  this operator is used for division ,lets take an example below

In [36]:
x=2
y=8
print(x/y)

0.25

In [37]:
#2   % this operator is called modulus operator it is used to find the Remainder of the divison

In [41]:
x=10
y=50
print(x%y)

10

In [42]:
#3   // this is called the floor division its rounds the result and down to the nearest whole number

In [43]:
x=20
y=3
print(x//y)

6

In [46]:
#4  ** this is called the Exponentiation it means it mulitply the number with its own by 2 times ex, 2**=> 2x2x2=8

In [50]:
x=2
y=3
print(2**3)

8

In [61]:
#-------------------------------------------------------------------------------------------------

In [6]:
# Q4

In [ ]:
SAALIk_list = [42, "Hello, world", 3.14, True, None, [1, 2, 3], {"name": "John", "age": 30}, (1, 2, 3), {"apple", "banana", "cherry"}, 123456789]

for item in SAALIk_list:
    print(f"{item} - {type(item)}")

42 - <class 'int'>
Hello, world - <class 'str'>
3.14 - <class 'float'>
True - <class 'bool'>
None - <class 'NoneType'>
[1, 2, 3] - <class 'list'>
{'name': 'John', 'age': 30} - <class 'dict'>
(1, 2, 3) - <class 'tuple'>
{'cherry', 'banana', 'apple'} - <class 'set'>
123456789 - <class 'int'>

In [7]:
#---------------------------------------------------------------------

In [8]:
# Q5

In [9]:
# Input numbers A and B
A = int(input("Enter the value of number A: "))
B = int(input("Enter the value of number B: "))

# Initialize a counter to keep track of the number of divisions
divisions = 0

# Verify if A is divisible by B and count the number of divisions
while A % B == 0:
    A //= B
    divisions += 1

# Output the result
if divisions > 0:
    print(f"{A} is divisible by {B} and it can be divided {divisions} times.")
else:
    print(f"{A} is not divisible by {B}.")

Enter the value of number A:  12
Enter the value of number B:  12

1 is divisible by 12 and it can be divided 1 times.

In [10]:
#------------------------------------------------------------------------------

In [11]:
# Q5

In [15]:
# Create a list containing 25 int type data
Saalik_list = [12, 5, 27, 8, 33, 18, 6, 41, 9, 15, 22, 30, 14, 7, 36, 17, 20, 11, 4, 25, 3, 16, 19, 21, 10]

# check if each element is divisible by 3 or not
for item in Saalik_list:
    if item % 3 == 0:
        print(f"{item} is divisible by 3.")
    else:
        print(f"{item} is not divisible by 3.")

12 is divisible by 3.
5 is not divisible by 3.
27 is divisible by 3.
8 is not divisible by 3.
33 is divisible by 3.
18 is divisible by 3.
6 is divisible by 3.
41 is not divisible by 3.
9 is divisible by 3.
15 is divisible by 3.
22 is not divisible by 3.
30 is divisible by 3.
14 is not divisible by 3.
7 is not divisible by 3.
36 is divisible by 3.
17 is not divisible by 3.
20 is not divisible by 3.
11 is not divisible by 3.
4 is not divisible by 3.
25 is not divisible by 3.
3 is divisible by 3.
16 is not divisible by 3.
19 is not divisible by 3.
21 is divisible by 3.
10 is not divisible by 3.

In [16]:
#-----------------------------------------------------------------------

In [17]:
# Q5

In [20]:
# MUTABLE DATA TYPE;  
#->Mutable data types are those whose values can be changed or modified after they are created. When you perform an operation that modifies a mutable object, it directly changes the original object in memory.

# Example with a list
my_list = [1, 2, 3, 4]
print("Original list:", my_list)

# Modifying the list
my_list.append(5) # Add digit 5 after 
print("Modified list:", my_list)

Original list: [1, 2, 3, 4]
Modified list: [1, 2, 3, 4, 5]

In [22]:
# IMMUTABLE DATA TYPES;
#->Immutable data types are data types in programming that cannot be modified or changed after they are created.

# EXAMPLE:

my_tuple = (1, 2, 3, 4)

# Trying to modify the tuple
# This will raise an error since tuples are immutable
my_tuple[0] = 10

TypeError: 'tuple' object does not support item assignment